In [2]:
# common imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
%matplotlib inline

In [4]:
# imports needed for Google Sheets
import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from google.colab import auth

#verifcation from account for reading files you have access to
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [5]:
# import a workbook
spreadsheet = gc.open("sec1_data_gd")

In [7]:
# specify the sheet to get
sheet = spreadsheet.worksheet("Sheet1")

In [24]:
# create a Pandas DataFrame from a Googel Sheet
df = pd.DataFrame(sheet.get_all_records())

In [25]:
# display our DataFrame from GSheets
df.head(5)

   First  Second
0      1      13
1      2      12
2      3      11
3      4      10
4      5       9

In [12]:
# create a defined function to access OneDrive files
def download_file_using_requests(url,disk_location):
  r = requests.get(url, stream = True)
  if r.status_code == 200:
    with open(disk_location, 'wb') as f:
      for chunk in r.iter_content(1024):
        f.write(chunk)

In [15]:
#specify the location of OneDrive URL...change embed to download
onedrive_url = "https://onedrive.live.com/download?cid=83299212AB7CAF2B&resid=83299212AB7CAF2B%21106&authkey=APexBqI03gUYTls&em=2"

In [16]:
#downloading the file into this Colab notebook
download_file_using_requests(onedrive_url, "sec1_data_od.xlsx")

In [17]:
# display our DataFrame from OneDrive Excel File
df1 = pd.read_excel(onedrive_url,"Sheet1")

In [18]:
# display it
df1.head(5)

   First Second
0      1      a
1      2      b
2      3      c
3      4      a
4      5      b